.main {
  background: #FCF8F5;
  padding: 85px 0;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  position: relative;
}

.products {
  display: block;
  width: 66.66%;
}
.products__title {
  color: #2C1912;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 40px;
}
.products__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 40px;
}
.product__imgContainer {
  width: 100%;
  height: 240px;
  position: relative;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 40px;
  position: relative;
  border: 2px solid transparent;
  transition: .3s;
}
.product__imgContainer--selected {
  border: 2px solid #e1704b;
}
.product-addToCart {
  width: 100%;
  max-width: 160px;
  line-height: 40px;
  background: #fff;
  border-radius: 20px;
  border: 1px solid #2C1912;
  color: #2C1912;
  font-weight: 600;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(25%, 50%);
  z-index: 2;
  font-size: 14px;
}
.product__controls {
  width: 100%;
  max-width: 160px;
  height: 40px;
  background: #e1704b;
  border-radius: 20px;
  border: 1px solid #e1704b;
  color: #fff;
  font-weight: 600;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(25%, 50%);
  z-index: 2;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__controls button{
  width: 40px;
  height: 40px;
}

.product__controls button svg{vertical-align: middle;}

.product-addToCart svg{
  vertical-align: middle;
  margin-right: 8px;
}
.product__imgContainer > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product__category {
  font-size: 14px;
  color: #88635B;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.product__price {
  color: #cc4a1f;
  font-weight: 700;
  font-size: 16px;
}

.product__title {
  color: #2C1912;
  text-transform: capitalize;
  font-size: 16px;
  margin-bottom: 10px;
  height: 48px;
  overflow: hidden;
}

.cart {
  display: block;
  width: 33.33%;
  padding-left: 30px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}

.cart__container {
  background: #fff;
  border-radius: 10px;
  padding: 30px 25px 40px;
}
.cart__title {
  color: #cc4a1f;
  font-weight: 700;
  font-size: 24px;
}
.cart__text {
  font-size: 16px;
  color: #88635B;
  display: block;
  width: 100%;
  text-align: center;
}
.cart .emptycart-icon{
 display: block;
 margin: 40px auto;
}
/* #88635B */